
@media(min-width: 1500px){
	.container{
		width: 1300px;
	}
}
@media(max-width:1200px){

}
@media(max-width:992px){
	.hero h1{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.hero p{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.hero .btnbuy{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.powerfulsound .cont{
		.col-md-4{
			margin-bottom: 30px;
		}
	}
	.powerfulsound .cont p{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.powerfulsound{
		padding-bottom: 70px;
	}
	.makeityours{
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.makeityours h1,.makeityours p,.makeityours .defbtn{
		text-align: center;
		 margin-left: auto;
		 margin-right: auto;
	}
	.whatwebelive p{
		font-size: 24px;
	}
	.instagramfeed .cont .circlediv img{
		display: block;
		margin: auto;
	}

}
@media(max-width:768px){
	.navbar-default .navbar-nav > li > a{
		margin-top: 25px;
	}
	.navbar-default .navbar-nav > li > .btnbuy{
		margin-top: 15px;
		display: inline-block;
		margin-left: 10px;
	}
	.navbar-default{
		min-height: auto;
		background: black;
	}
	.navbar-default .navbar-brand{
		margin-top: 15px;
	}
	.navbar-default .navbar-toggle{
		margin-top: 20px;
	}
	.navbar-default .navbar-toggle .icon-bar{
		width: 22px;
		background: white;
	}


	.hero{
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.hero h1{
		font-size: 42px;
		line-height: 51px;
	}
	.hero p,.anywhere p,.powerfulsound .cont p,.makeityours p,.makeityours .defbtn a{
		font-size: 15px;
	}
	.whatwebelive p{
		font-size: 18px;
		line-height: 30px;
	}
	.whatwebelive .defbtn a{
		max-width: 100%;
	}
	.makeityours{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.powerfulsound{
		padding-top: 70px;
		padding-bottom: 30px;
	}
	.powerfulsound h1,.anywhere h1,.makeityours h1,.whatwebelive h1,.instagramfeed h1{
		font-size: 32px;
		line-height: 40px;
	}
}
@media(max-width:767px){
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  width: 22px;
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  width: 22px;
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-default .navbar-toggle .icon-bar{
	width: 22px;
}
